<persistence 
xmlns="http://java.sun.com/xml/ns/persistence_2_0.xsd" version="2.0">
	<persistence-unit name="ecommerce_manga">
		<jta-data-source>connessione_db_web</jta-data-source>
		<properties>
		    	<!-- trova tutti gli oggetti @Entity  -->
			<property name="openejb.jpa.auto-scan" value="true" />
			<property name="openjpa.RuntimeUnenhancedClasses" value="supported"/>
			<!-- Aggiunge e collega le FK per noi, con l'uso di JPA         -->
			<property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/>
		</properties>
	</persistence-unit>
</persistence>